/* font color for character cards: 401F3E, 759AAB*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
header {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: #978df0;
  color: #faf2a1;
  font-family: "Courier New", Courier, monospace;
  height: 100px;
  z-index: 1;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}
main {
  background-color: #3f2e56;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 20px;
  justify-content: space-evenly;
}

/* New Character Button */
.new-btn {
  padding: 20px;
  background-color: #faf2a1;
  color: #978df0;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Character Card */
.character-card {
  background-color: white;
  width: 200px;
  height: 250px;
  box-sizing: border-box;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.character-card h2,
.character-card h1 {
  text-align: center;
}
.character-name {
  padding-bottom: 30px;
}
.character-stats {
  padding-bottom: 10px;
}
.Warrior {
  color: red;
}
.Archer {
  color: green;
}
.Mage {
  color: blue;
}
.Dwarf {
  color: orange;
}
.Healer {
  color: pink;
}
.character-level-box {
  display: flex;
  justify-content: space-between;
}
.stat-box {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.lvl-button {
  width: 25px;
  height: 25px;
}
.delete-button {
  width: 100%;
  margin-top: 10px;
  background-color: maroon;
  color: #faf2a1;
}

/* Modal Styling */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hidden {
  display: none;
}
.form-box {
  width: 400px;
  height: 400px;
  background-color: white;
  padding: 20px;
}
.char-heading {
  text-align: center;
  margin-bottom: 10%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#submit-btn {
  height: 50px;
  font-weight: bold;
  background-color: green;
  border: none;
}
#close-form-btn {
  height: 25px;
  font-weight: bold;
  background-color: red;
  border: none;
}
