/* font color for character cards: 401F3E, 759AAB*/

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #978df0;
  color: #faf2a1;
  font-family: "Courier New", Courier, monospace;
  height: 100px;
}

main {
  background-color: #3f2e56;
  width: 100%;
  height: 100vh;
}

button {
  padding: 20px;
  background-color: #faf2a1;
  color: #978df0;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: bold;
}
